@import './base.css';
@import "tailwindcss";

html{
  background-color: #F4F6F9;
}

#app {
  margin: 0 auto;
  /* padding: 2rem; */
  padding-top: 0;
  padding-bottom: 0;
  font-weight: normal;
  background-color: #F4F6F9;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6{
  color: #000;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {

}
